# [101 Pandas Questions](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

#### 1. Import Pandas and check version

In [1]:
import numpy as np
import pandas as pd
import re

print(pd.__version__)
# print(pd.show_versions(as_json=True))

1.1.4

#### 2. Create series from list, np.array, and dict
`pd.Series(obj, index=[list])`

In [2]:
mylist = list('abcedfghijklmnopqrstuvwxyz') # alphabet
myarr = np.arange(26)                       # array 0-25
mydict = dict(zip(mylist, myarr))           # dict; keys=myist


ser1 = pd.Series(mylist, index=None)
ser2 = pd.Series(myarr, index=None)
ser3 = pd.Series(mydict, index=mydict.keys())
ser3.head(5)

a    0
b    1
c    2
e    3
d    4
dtype: int64

#### 3. Convert index of series into column of a dataframe
`series.to_frame()`    = convert s to df

`series.reset_index()` = reset index

In [3]:
ser3_df = ser3.to_frame()        # convert to dataframe
ser3_df = ser3_df.reset_index()  # reset index
ser3_df.columns = ['letters', 'numbers'] # rename columns
ser3_df.head(5)

  letters  numbers
0       a        0
1       b        1
2       c        2
3       e        3
4       d        4

#### 4. Combine series to form dataframe
`pd.concat([ser1, ser2], axis=1)` = concat S to DF as cols
- axis=0 --> rows
- axis=1 --> cols

In [4]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.concat([ser1, ser2], # list of series to be combined
               axis=1)       # combine columns
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

#### 5. Assign name to Series' index
`series.index.name = str`

In [5]:
#5. Assign name to Series' index
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.index.name = 'alphabets'
ser.head()

alphabets
0    a
1    b
2    c
3    e
4    d
dtype: object

#### 6. List items in series A not present in B
Numpy:  `np.setdiff1d(serA, serA)` --> return array

Pandas: `serA[~serA.isin(serB)]`   --> return series
- `serA.isin(serB)` = TF bool per element

In [6]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

bools = ser1.isin(ser2) # TF if ser1[i] in ser2
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

#### 7. List items not common to both series A and B

`np.setxor1d(serA, serB)`: arr; find vals in either, not both
`pd.Series(val)`: Convert to series

In [7]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

XOR_vals = np.setxor1d(ser1, ser2) # find exclusive-or values
pd.Series(XOR_vals)                # convert to series

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

#### 8. Get Min, 25%, 50%, 75%, and Max of series

NumPy:  `np.percentile(series, q=[vals])` --> arr

Pandas: `series.quantile([vals])` --> series

In [8]:
ser = pd.Series(np.random.normal(10, 5, 25))

# Using NumPy
arr = np.percentile(ser, q=[0,25,50,75,100]) # return array
print(arr)
print('='*30)

# Using Pandas
series = ser.quantile([0,0.25,0.5, 0.75, 1])    # return series
print(series)

[-0.38534721  5.38837896  8.11023107 12.65982234 18.21922789]
==============================
0.00    -0.385347
0.25     5.388379
0.50     8.110231
0.75    12.659822
1.00    18.219228
dtype: float64

#### 9. Frequency counts of unique items of a series?
`series.value_counts()`

In [9]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

f    7
g    4
c    4
a    4
b    4
e    3
d    3
h    1
dtype: int64

#### 10. Keep top 2 most requent values, and replace everything else as 'other'

`series.isin(<list>)`     = TF if value in list
`series[~ser.isin(<lst>)` = values NOT in list

In [10]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

top2 = ser.value_counts().head(2).index # most frequent values
ser[~ser.isin(top2)] = 'Other'          # reassign non-top values
ser

0         2
1         4
2         4
3     Other
4         4
5         2
6         2
7         4
8         2
9     Other
10        2
11        4
dtype: object

#### 11. Bin numeric series to 10 groups of equal size

`pd.cut(series, bins=x)`: bin data by values (ie. same bin size)
`pd.qcut(series, q=x)`:  bin data by freq (ie. same N samples per bin)

In [11]:
ser = pd.Series(np.random.random(20)) # n=20 values
print(ser.head())

pd.qcut(ser,                   # data to. cut
        q=10,                  # 10 equal decile groups
        labels=['1st', 
                '2nd', 
                '3rd', 
                '4th', 
                '5th', 
                '6th', 
                '7th', 
                '8th', 
                '9th', 
                '10th']).head() # replace bin values with rank

0    0.874689
1    0.715168
2    0.477783
3    0.692094
4    0.593153
dtype: float64

0    9th
1    7th
2    3rd
3    6th
4    4th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

#### 12. Convert arr to dataframe of given shape? 

`arr.reshape(nrow,ncol)`: reshape array

In [12]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))

# Solution
arr = np.array(ser).reshape(7,5) # create to array
arr.reshape(7,5)                 # reshape array
pd.DataFrame(arr)                # convert to DF

   0  1  2  3  4
0  9  9  6  2  3
1  9  6  5  5  5
2  5  7  9  6  1
3  9  5  5  8  2
4  4  2  9  4  1
5  7  8  8  9  1
6  3  1  6  3  2

#### 13. Find position of numbers that are multiple of 3

In [13]:
# Input
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)

# Solution
ser[ser%3==0].index.tolist()

0    2
1    6
2    5
3    1
4    8
5    8
6    1
dtype: int64

[1]

#### 14. Extract items at given positions from a series

`series.take[idxs, axis]`: return el in idx along axis
`series.iloc[idxs]`:       return el in specific [row,col] index

In [14]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solution
ser.iloc[pos]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

#### 15. Stack two series vertically and horizontally

`pd.concat([series1, series2], axis=0)`
- axis=0 --> stack el as rows (vertically)
- axis=1 --> stack el as cols (horizontally)

`series1.append(series2)` --> stack el as rows (vertically)

In [15]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Stack vertically (ie. as rows)
pd.concat([ser1, ser2],axis=0) # axis=0 
ser1.append(ser2)              # series.append()

# Stack horizontally (ie. as columns)
pd.concat([ser1,ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### 16. Get positions of seriesA els in another seriesB

`pd.Index(series).get_loc(5)`: returns INT

*Ans: 3*

`series.loc[series==5].index`: returns index object

*Ans: Int64Index([3], dtype='int64')*

`np.where(series==5)`: returns tuple array

*Ans: (array([3]),)*

In [16]:
# Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# My solution
vals = ser2[ ser2.isin(ser1) ] # find ser2 els in ser1
isMatch = ser1.isin(vals) # find ser1 els in vals
mySol = ser1[ isMatch ].index.tolist()     # find idx of items of ser2 in ser1
print('My solution: ', mySol)

# Alt Solution 1: np.where --> return array with matching index
alt1 = [np.where(i == ser1)[0][0] for i in ser2]
print('Alt solution 1: ', alt1)

# Alt Solution 2: pd.Index().get_loc(val) --> return int value
alt2 = [pd.Index(ser1).get_loc(i) for i in ser2]
print('Alt solution 2: ', alt2)


# Alt Solution 3: series.loc[condition] --> return index object
alt3 = [ser1.loc[ser1==i].index.tolist()[0] for i in ser2]
print('Alt solution 3: ', alt3)

My solution:  [0, 4, 5, 8]
Alt solution 1:  [5, 4, 0, 8]
Alt solution 2:  [5, 4, 0, 8]
Alt solution 3:  [5, 4, 0, 8]

#### 17. Compute MSE on a truth and predicted series

In [17]:
# Data
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

# My Solution
np.mean((truth-pred)**2)

0.3133814998340644

#### 18. Convert 1st character of each el in series to upper case

`series.map(function)`: apply function to each el in series

In [18]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# My Solution
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

#### 19. Calc n characters in each word

`series.map(function)`: apply function to each el in series

In [19]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# My solution
ser.map(lambda x: len(x)) # calc len of each el

0    3
1    2
2    4
3    4
dtype: int64

#### 20. Difference of differences between consequtive numbers in series

`series.diff()`: rolling difference [n-(n-1)]

In [20]:
# Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

diff_ = ser.diff()         # n-(n-1)
diff_ofdiff = diff_.diff() # diff of difference

print(diff_.tolist())
print(diff_ofdiff.tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

#### 21. Convert date-strings to timeseries

`pd.to_datetime(series)`: detects format, returns datetime64 object

In [21]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# My Solution
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

#### 22. Get day of month, week number, day of year, and day of week from series of date strings

`series.to_datetime(series)`: automatically converts str to timestamp

`series.dt.day`: return day of month [1-31 days]

`seriesdt.isocalendar().week`: return week of year [1-53 weeks] 
* *series.weekofyear depreciated*

`series.dt.dayofweek`: return day of week [Mon=0 --> Sun=6]

`series.dt.day_name()`: return day of week [Monday --> Sunday]

In [22]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# My solution
ser = pd.to_datetime(ser) # convert str to timestamp
day_ofMonth = ser.dt.day # numberic day of month [1-31 days]
week_ofYear = ser.dt.isocalendar().week # week of year [1-53 weeks]
day_ofWeek = ser.dt.dayofweek # day of week [Mon=0; Sun=6]
day_ofWeek_name = ser.dt.day_name() # day of week, with names

# Print solution
print('Date: ', day_ofMonth.tolist())
print('Week number: ', week_ofYear.tolist())
print('Day of Week (number): ', day_ofWeek.tolist())
print('Day of Week (name): ', day_ofWeek_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day of Week (number):  [4, 2, 5, 3, 0, 5]
Day of Week (name):  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

#### 23. Convert year-month str to date corresponding to 4th dayof the month

`datetime.timedelta(days = n)`: add interval to timestamp series
- days, weeks, seconds, etc etc.
- Ex: series + datetime.timedelta(...)

In [23]:
# Input 
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

# My solution
ser = pd.to_datetime(ser)

import datetime as dt
ser + dt.timedelta(days=3)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

#### 24. Filter words containing 2 vowels from series

In [24]:
# Input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# My Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

#### 25. Filter valid emails from series
Extract value emails from series --> output as series

`list comprehension` returns list

`series.map(lambda x: bool(re.match(pattern,x)` returns boolean mask

In [25]:
# Input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

# My Solution
## Use list comprehension
[email for email in emails if re.findall(pattern, email)]

# Alt Solution 1: 
## Use str.findall to apply to each value
emails.str.findall(pattern, flags=re.IGNORECASE)

# Alt Solution 2:
## Use boolean mask
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

#### 26. Get series mean grouped by another series

`serA.groupby(serB).mean()` groups serA by idx belonging to groups in serB

In [26]:
# Input
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weight = pd.Series(np.linspace(1, 10, 10))

# My Solution: Combine into df --> groupby().mean()
df = pd.concat([fruit, weight], axis=1).rename(columns={0:'fruit', 1:'weight'})
df.groupby('fruit')['weight'].mean()

# Alt Solution: Groupby arr1
weight.groupby(fruit).mean()

apple     5.000000
banana    9.000000
carrot    5.166667
dtype: float64

#### 27. Compute euclidean distance between two series

edist = sqrt( sum(qi-pi)^2 )

In [27]:
# Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

# My Solution
np.sqrt( np.sum((q-p)**2))

# Alt Solution (using func)
np.linalg.norm(p-q)

18.16590212458495

#### 28. Find all local maxima (peaks) in series
Maxima if: x-1 < x AND x > x+1

`series.shift(n)`: shifts series n indices

In [28]:
# Input
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

# My Solution
ser[ (ser.shift(-1)<ser) & (ser.shift(1)<ser) ].index.tolist()
    
# Alt Solution
diff = np.diff(ser) #sub from prev el [8,-7,1,5,1,-8,5,-4]
change = np.sign(diff) # sign +1 or -1
diff2 = np.diff(change) # sub from prev
peak_locs = np.where(diff2==-2)[0]+1 # account for idx shift
peak_locs

array([1, 5, 7])

#### 29. Replace missing spaces in string with least frequent character

`min(iter, key=iter.count)`: iter.count(x) returns count of x; as key, return x with min count

`series.value_counts()`: Returns ser of counts per unique x

In [29]:
# Input
my_str = 'dbc deb abed gade'

# Solution
string = my_str.replace(' ', '') # remove spaces
min_char = min(set(string),key=string.count) # most freq char
my_str.replace(' ',min_char)
    
# Alt Solution
ser = pd.Series(list(my_str)) # convert to series
freq = ser.value_counts() # sorted count of all unqiue vals
least_freq = freq.dropna().index[-1] # least frequent
my_str.replace(' ', least_freq) # replace ' ' with new str

'dbccdebcabedcgade'

#### 30. Create TimeSeries starting on 2000-01-01 and 10 weekends (Saturdays) with random numbers as values

`np.random.randin(min_val, max_val, n)`

`pd.date_range(start=date, periods=n, freq='W-Sat')`

In [30]:
# My Solution
val = np.random.randint(1,         # min value
                        10,        # max value
                        10)        # number of values

idx = pd.date_range('2000-01-01',  # start date
                    periods=10,    # 10 data points
                    freq='W-SAT')  # weekly, saturday

pd.Series(val, idx)

2000-01-01    2
2000-01-08    7
2000-01-15    2
2000-01-22    8
2000-01-29    5
2000-02-05    9
2000-02-12    7
2000-02-19    7
2000-02-26    3
2000-03-04    9
Freq: W-SAT, dtype: int64

In [31]:
idx

DatetimeIndex(['2000-01-01', '2000-01-08', '2000-01-15', '2000-01-22',
               '2000-01-29', '2000-02-05', '2000-02-12', '2000-02-19',
               '2000-02-26', '2000-03-04'],
              dtype='datetime64[ns]', freq='W-SAT')